@media screen and (max-width: 991px) {
    h3 {
        font-size: 1.2 rem;
    }

    .nav-toggle {
        display: block;
        margin-right: 20px;
    }

    .nav-links {
        display: none;
    }

    .example-card {
        width: calc(50% - 10px);
        height: 180px;
    }

    .example-area {
        gap: 20px;
    }

    .cta-section {
        padding-block: 80px;
    }
}